@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.google.com/specimen/Roboto?query=roboto');

body {
  font-family: "Noto Sans TC", serif;
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
